@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
:root {
  --main-bg-color: #c6f5e8;
  --main-txt-color: #87afa5;
  --main-bg-nav-color: #fff;
  --main-line-color: #bad4cd;
  --main-border-buttom-color: #eaecec;
  --main-title-color: #000;
  --notify_status-success-color: #47da89;
  --notify_status-failed-color: #fb0001;
  --main-border-radius: 10px;
  --main-txt-show_all-color: #439982;
  --btn-hover-color: #64e4c2;
  --main-li-hover-color: #e2f5f0;
  --main-padding-add: 25px;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}
.navbar img {
  width: 40px;
}
.dropdown-toggle::after {
  display: none;
}
.navbar {
  background: var(--main-bg-nav-color);
  width: 100vw;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}
.navbar-brand,
.nav-item,
.nav-link,
a.notifi,
a.dropdown-item {
  color: var(--main-txt-color);
}
.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover,
a.notifi:hover,
a.dropdown-item:hover {
  background-color: inherit;
  color: var(--main-txt-show_all-color) !important;
}
.btn-edit {
  color: var(--main-bg-nav-color);
}
.btn-edit:hover {
  color: var(--btn-hover-color);
}
/* Green */
.success {
  background-color: var(--main-txt-color);
  color: var(--main-bg-nav-color);
}

.success:hover {
  background-color: var(--main-txt-show_all-color);
  color: var(--main-bg-nav-color);
}
.container {
  background-color: var(--main-txt-show_all-color);
}
.block {
  width: fit-content;
  height: fit-content;
  padding-top: 4rem;
}

/* Gray */
.default {
  right: 0;
  bottom: 0;
  background-color: var(--main-bg-nav-color);
  color: var(--main-txt-show_all-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
i {
  font-size: 1em;
}
.default:hover {
  background-color: var(--main-bg-nav-color);
  color: var(--btn-hover-color);
}
.img_proflie {
  width: 250px;
}
#input-name{
  width: 290px;
}
 .form-control {
  /* max-width: 140px; */
  /* font-size: 1rem; */
}
input[type="text"]:read-only {
  background-color: inherit;
  border: inherit;
  color: var(--main-bg-nav-color);
  font-weight: 600;
}
input[type="text"]:read-write {
  background-color: var(--main-bg-nav-color);
  border: 2px solid var(--main-txt-color);
  color: var(--main-txt-show_all-color);
}
.input-sizer{
  resize: both;
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  span.name,
  i.fa-chevron-down {
    display: none;
  }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-link {
    padding-right: 0px;
  }
  .img_proflie {
    width: 160px;
  }
  .form-row {
    width: 100vw;
  }
}
