@gport url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
:root {
  --main-bg-color: #c6f5e8;
  --main-txt-color: #87afa5;
  --main-bg-nav-color: #fff;
  --main-line-color: #bad4cd;
  --main-border-buttom-color: #eaecec;
  --main-title-color: #000;
  --notify_status-success-color: #47da89;
  --notify_status-failed-color: #fb0001;
  --main-border-radius: 10px;
  --main-txt-show_all-color: #439982;
  --btn-hover-color: #64e4c2;
  --main-li-hover-color: #e2f5f0;
  --main-padding-add: 25px;
}
/* * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
} */
.navbar img {
  width: 40px;
}
.dropdown-toggle::after {
  display: none;
}
.navbar {
  background: var(--main-bg-nav-color);
  width: 100vw;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.btn:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}
.navbar-brand,
.nav-item,
.nav-link,
a.notifi,
a.dropdown-item {
  color: var(--main-txt-color);
}
.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover,
a.notifi:hover,
a.dropdown-item:hover {
  background-color: inherit;
  color: var(--main-txt-show_all-color) !important;
}
/* Green */
.success {
  background-color: var(--main-txt-color);
  color: var(--main-bg-nav-color);
}

.success:hover {
  background-color: var(--main-txt-show_all-color);
  color: var(--main-bg-nav-color);
}
#Profile {
  background-color: var(--main-txt-show_all-color);
}
.block {
  width: fit-content;
  height: fit-content;
  padding-top: 4rem;
}

/* Gray */
.default {
  right: 0;
  bottom: 0;
  background-color: var(--main-bg-nav-color);
  color: var(--main-txt-show_all-color);
  /* border-radius: 50%; */
  width: 2.8rem;
  height: 2.8rem;
}
i {
  font-size: 1em;
}
.default:hover {
  background-color: var(--main-bg-nav-color);
  color: var(--btn-hover-color);
}
.img_proflie {
  max-width: 250px;
  max-height: 250px;
}
/* #input-name{
  width: 290px;
} */

input[type="text"]:read-only {
  background-color: inherit;
  border: inherit;
  color: var(--main-bg-nav-color);
  font-weight: 600;
}
input[type="text"]:read-write {
  background-color: var(--main-bg-nav-color);
  border: 2px solid var(--main-txt-color);
  color: var(--main-txt-show_all-color);
}

/* ////////////////////////////// */

button input[type="file"],
.button input[type="file"]
, div input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#imageAddUpload {
  /* position: absolute; */
  min-height: 88px;
  /* max-height: 100px; */
  width: 100%;
 
}
.avatar-upload .avatar-preview {
  width: 200px;
  height: 200px;
  /* border: 5px solid var(--main-bg-nav-color); */
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-plus {
  border-radius: 50%;
  background-color: var(--notify_status-success-color);
  color: var(--main-li-hover-color);
  height: 48px;
  width: 48px;
  text-align: center;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
.btn-plus:hover {
  background-color: var(--main-li-hover-color);
  color: var(--notify_status-success-color);
  border: 2px solid var(--notify_status-success-color);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
}
#gallery img.card-img {
  border-radius: 0 !important;
}
.bg-image {
  background-image: linear-gradient(
      88deg,
      rgba(202, 202, 202, 0.02) 0%,
      rgba(202, 202, 202, 0.02) 58%,
      transparent 58%,
      transparent 67%,
      rgba(220, 220, 220, 0.02) 67%,
      rgba(220, 220, 220, 0.02) 82%,
      rgba(8, 8, 8, 0.02) 82%,
      rgba(8, 8, 8, 0.02) 100%
    ),
    linear-gradient(
      318deg,
      rgba(19, 19, 19, 0.02) 0%,
      rgba(19, 19, 19, 0.02) 5%,
      transparent 5%,
      transparent 50%,
      rgba(101, 101, 101, 0.02) 50%,
      rgba(101, 101, 101, 0.02) 65%,
      rgba(132, 132, 132, 0.02) 65%,
      rgba(132, 132, 132, 0.02) 100%
    ),
    linear-gradient(
      150deg,
      rgba(166, 166, 166, 0.02) 0%,
      rgba(166, 166, 166, 0.02) 18%,
      transparent 18%,
      transparent 37%,
      rgba(105, 105, 105, 0.02) 37%,
      rgba(105, 105, 105, 0.02) 87%,
      rgba(244, 244, 244, 0.02) 87%,
      rgba(244, 244, 244, 0.02) 100%
    ),
    linear-gradient(
      53deg,
      rgba(54, 54, 54, 0.02) 0%,
      rgba(54, 54, 54, 0.02) 26%,
      transparent 26%,
      transparent 81%,
      rgba(251, 251, 251, 0.02) 81%,
      rgba(251, 251, 251, 0.02) 85%,
      rgba(19, 19, 19, 0.02) 85%,
      rgba(19, 19, 19, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  span.name,
  i.fa-chevron-down {
    display: none;
  }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-link {
    padding-right: 0px;
  }
  .img_proflie {
    width: 160px;
  }
  .form-row {
    width: 100vw;
  }
  .card-img-start {
    display: none;
  }
}

div.liner-gra {
  margin: 0 auto;
}

.outer-ring {
  width: 50vw;
  height: 50vw;
  background-image: linear-gradient(to bottom right, #439982, #a2cc77);

  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.middle-ring {
  height: 45vw;
  width: 45vw;
  background-color: whitesmoke;
}
.inner-ring {
  height: 40vw;
  width: 40vw;
  background-color: var(--main-bg-nav-color);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-overay {
  background-image: linear-gradient(to bottom, #439982, #a2cc77);
  opacity: 50%;
}
/* .card ul.list-group-flush li.list-group-item{
  height: 80px;
} */

.btn-plastic {
  /* min-width: 120px;
  min-height: 120px; */
  width: 100%;
  max-height: 100%;
  object-fit: scale-down;
  background-color: var(--main-bg-nav-color);
  /* padding-bottom: 1rem; */
}
.btn-plastic:hover {
  background-color: var(--main-border-buttom-color);
}

img.card-img.btn-type {
  width: 75%;
  height: 75%;
  object-fit: scale-down;
}
.list-group-item .card {
  border-radius: calc(1rem - 1px);
}

.card-img-start {
  border-top-left-radius: calc(1rem - 1px);
  border-bottom-left-radius: calc(1rem - 1px);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
