@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
:root {
  --main-bg-color: #c6f5e8;
  --main-txt-color: #87afa5;
  --main-bg-nav-color: #fff;
  --main-line-color: #bad4cd;
  --main-border-buttom-color: #eaecec;
  --main-title-color: #000;
  --notify_status-success-color: #47da89;
  --notify_status-failed-color: #fb0001;
  --main-border-radius: 10px;
  --main-txt-show_all-color: #439982;
  --btn-hover-color: #64e4c2;
  --main-li-hover-color: #e2f5f0;
  --main-padding-add: 25px;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat";
  overflow: hidden;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

a {
  color: var(--main-txt-color);
}

.content {
  display: block;
  /* justify-content: center;
  align-items: center; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
}
.wrapper {
  width: 100%;
  height: 100%;
}

.navbar {
  background: var(--main-bg-nav-color);
  width: 100%;
  height: 60px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar .navbar_left .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .navbar_left .logo a {
  font-family: "Trade Winds";
  font-size: 20px;
}

.navbar .navbar_right {
  display: flex;
}

.navbar .navbar_right img {
  width: 35px;
}

.navbar .navbar_right .icon_wrap {
  cursor: pointer;
}

.navbar .navbar_right .notifications {
  margin-right: 25px;
}

.navbar .navbar_right .notifications .icon_wrap {
  font-size: 28px;
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications {
  position: relative;
}

.navbar .profile .profile_dd,
.notification_dd {
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;
  background: var(--main-bg-nav-color);
  border: 1px solid var(--main-line-color);
  width: 350px;
  height: auto;
  display: none;
  border-radius: var(--main-border-radius);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
    -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.navbar .profile .profile_dd:before,
.notification_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  border: var(--main-border-radius) solid;
  border-color: transparent transparent var(--main-bg-nav-color) transparent;
}

.notification_dd li {
  border-bottom: 1px solid var(--main-border-buttom-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.notification_dd li:first-child {
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
}

.notification_dd li .notify_icon {
  display: flex;
}

.notification_dd li .notify_icon .icon {
  display: inline-block;
  background: url("/pictures/icons.png") no-repeat 0 0;
  width: 40px;
  height: 42px;
}

.notification_dd li.baskin_robbins .notify_icon .icon {
  background-position: 0 -43px;
}

.notification_dd li.mcd .notify_icon .icon {
  background-position: 0 -86px;
}

.notification_dd li.pizzahut .notify_icon .icon {
  background-position: 0 -129px;
}

.notification_dd li.kfc .notify_icon .icon {
  background-position: 0 -178px;
}

.notification_dd li .notify_data {
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title {
  color: var(--main-title-color);
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}

.notification_dd li .notify_status p {
  font-size: 12px;
}

.notification_dd li.success .notify_status p {
  color: var(--notify_status-success-color);
}

.notification_dd li.failed .notify_status p {
  color: var(--notify_status-failed-color);
}

.notification_dd li.show_all {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p {
  font-weight: 700;
  color: var(--main-title-color);
  cursor: pointer;
}

.notification_dd li.show_all p:hover {
  /* text-decoration: none; */
  color: var(--main-txt-show_all-color);
}

.navbar .navbar_right .profile .icon_wrap {
  display: flex;
  align-items: center;
}

.navbar .navbar_right .profile .name {
  display: inline-block;
  margin: 0 var(--main-border-radius);
}

.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap {
  color: var(--main-txt-show_all-color);
}

.navbar .profile .profile_dd {
  width: 225px;
}
.navbar .profile .profile_dd:before {
  right: 10px;
}
.navbar .profile .profile_dd ul li a:hover,
.notification_dd li:hover {
  color: var(--main-txt-show_all-color);
  background: var(--main-li-hover-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.navbar .profile .profile_dd ul li {
  border-bottom: 1px solid var(--main-border-buttom-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.navbar .profile .profile_dd ul li:last-child,
.navbar .profile .profile_dd ul li:last-child a:hover,
.notification_dd li:last-child,
.notification_dd li:last-child:hover {
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  border: none;
}

.navbar .profile .profile_dd ul li a {
  display: block;
  padding: 15px 35px;
  position: relative;
}

.navbar .profile .profile_dd ul li a .picon {
  display: inline-block;
  width: 30px;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
  background: transparent;
  cursor: default;
  color: var(--main-txt-color);
}

.navbar .profile .profile_dd ul li .btn {
  height: 32px;
  padding: 7px 10px;
  color: var(--main-bg-nav-color);
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background: var(--main-txt-show_all-color);
  width: 125px;
  margin: 5px auto 15px;
}

.navbar .profile .profile_dd ul li .btn:hover {
  background: var(--btn-hover-color);
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd {
  display: block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  display: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.16);
}

.popup .shadow {
  width: 100%;
  height: 100%;
  background: var(--main-title-color);
  opacity: 0.5;
}

.popup .inner_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.popup .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* border-radius: 15px; */
}
.popup .notification_dd::-webkit-scrollbar {
  display: none;
}

.popup .notification_dd:before {
  display: none;
}

.popup .notification_dd li.title {
  font-weight: 700;
  color: var(--main-txt-show_all-color);
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover {
  opacity: 0.5;
}

.left,
.right {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--main-padding-add);
  justify-content: center;
  align-items: center;
  padding-top: calc(100vw - (100vw - 5%));
  padding-left: calc(100vw - (100vw - 25%));
  padding-right: calc(100vw - (100vw - 25%));
  /* min-height: calc(100vh * 1/2 - 30px); */
}
/* .left {
  margin-top: calc(100vh - (100vh - 8.5%)); */
  /* max-height: calc(100vh - 60px);
} */
.left a img {
  width: calc(100% - 33px);
  padding-bottom: 10px;
}
.left a {
  min-width: min-content;
  width: calc(100% * (1 / 3) - (var(--main-padding-add) - (var(--main-padding-add) * (1 / 3))));
  height: calc(100% * (1 / 2) - (var(--main-padding-add) - (var(--main-padding-add) * (1 / 3))));
  background-color: rgb(58, 168, 168);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.16);
  text-align: center;
}
/* Medium devices (phone, less than 767.98px) */
@media (max-width: 767.98px) {
  .navbar .navbar_left .logo a,
  .navbar .navbar_right .profile .name {
    display: none;
  }
  .navbar .navbar_right .profile .icon_wrap {
    gap: 10px;
  }
  .notification_dd {
    right: -98px;
    width: 95vw;
  }

  .notification_dd:before {
    right: 95px;
  }
  .notification_dd li {
    padding: 10px 10px;
  }
  .notification_dd li .notify_data {
    margin: 0 10px;
    width: 175px;
  }
  .left,
  .right {
    /* width: 100vw; */
    padding: var(--main-padding-add);
  }
  .left a {
    width: calc(100% * (1 / 2) - (var(--main-padding-add) - (var(--main-padding-add) * (1 / 3))));
    height: calc(100% * (1 / 3) - (var(--main-padding-add) - (var(--main-padding-add) * (1 / 3))));
  }

}
